*
{
    box-sizing: border-box;
}
body
{
    font-family: Times;
    padding: 20px;
    background: #95b288;
    color: #52614b;
}
/* blog header/title */
.header
{
    padding: 30px;
    font-size: 40px;
    margin:15px;
    text-align: center;
    background: white;
}

/* Card effect for different entries/sections*/
.card
{
    text-align: center;
    background-color: white;
    height: 250px;
    width: 253px;
    padding: 25px;
    margin: 15px;
    float: left;
}
