
/* Seould blog header/title  -  Image and Title*/
#title
{
    background-color: #fedfc9;
    background-image: url(Seoul/IMG_0897.JPG);
    border-radius: 25px;
    padding: 25px;
    font-size: 30px;
    margin:20px;
    text-align: center;
    color : #feede2;
    background-position: left top;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  

}
